[user]
	name = Thomas Sands
	email = thomas.sands@ly.st
	signingkey = 788E3DD3E8DE582E

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	undo = reset HEAD~1 --mixed
	cleanup = !git remote prune origin && git branch --merged | egrep -v '(^\\*|master|develop)' | xargs git branch -d
	cob = checkout -b
	oops = commit --amend --no-edit
	delete-merged-branches = "!git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	sync-branch = "!git fetch upstream master:master; git rebase master"
	yeet = push --force
[core]
	excludesfile = /Users/thomassands/.gitignoreglobal
	editor = code --wait
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool "meld"]
	cmd = cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[gpg]
	program = /usr/local/bin/gpg
[hub]
	host = git.lystit.com
