[user]
	name = Thomas Sands
	email = thomas.sands@ly.st
	signingkey = 788E3DD3E8DE582E

[alias]
	main = "!git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	undo = reset HEAD~1 --mixed
	cleanup = "!git remote prune origin && git branch --merged | egrep -v '(^\\*|master|develop)' | xargs git branch -d"
	cob = checkout -b
	oops = commit --amend --no-edit
	delete-merged-branches = "!f(){ git checkout $(git main) && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d}; f"
	sync-branch = "!f(){ git fetch upstream $(git main):$(git main); git rebase $(git main);}; f"
	yeet = push --force-with-lease
	pp = "!f(){ git checkout $(git main) && git pull --rebase upstream $(git main) && git push;}; f"
	co-pr = "!f(){ \
								repo=$(basename $(git rev-parse --show-toplevel)); \
								remote=$(echo ${1} | cut -f1 -d:);\
								branch=$(echo ${1} | cut -f2 -d:);\
								git remote add ${remote} git@git.lystit.com:${remote}/${repo}.git; \
								git fetch ${remote} ${branch}; \
								git checkout ${branch}; \
							}; f"
[core]
	excludesfile = /Users/thomassands/.gitignoreglobal
	editor = code --wait
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool "meld"]
	cmd = cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[gpg]
	program = /usr/local/bin/gpg
[hub]
	host = git.lystit.com
